
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    
    --rtc-color-1: #2C2C2C;
    --rtc-color-2: #F1F1F1;
    --rtc-color-3: #FFFFFF;

    --rtc-primary-bg-1: #ffffff;
    --rtc-secondary-bg-2:rgba(241, 241, 241, 1);
    --rtc-cuartiary-bg-3:rgba(0, 0, 0, 1);

    --rtc-bordercolor:var(--rtc-color-1);

    --rtc-radius-normal: 10px;
    --rtc-radius-none: 0px;

    --rtc-primary-text:var(--rtc-color-1);
    --rtc--secondary-text:var(--rtc-color-2);

    --rtc-font-size-xl: 200px;
    --rtc-font-size-l: 150px;
    --rtc-font-size-m: 100px;
    --rtc-font-size-s: 50px;
    --rtc-font-size-xs: 18px;

    --rtc-gap-s: 20px;
    --rtc-gap-m: 30px;
    --rtc-gap-l: 40px;

    --rtc-margin-xs: 10px;
    --rtc-margin-s: 20px;
    --rtc-margin-m: 30px;
    --rtc-margin-l: 40px;
    --rtc-margin-xl: 50px;

    --rtc-padding-xs: 10px;
    --rtc-padding-s: 20px;
    --rtc-padding-m: 30px;
    --rtc-padding-l: 40px;

    --rtc-margin: 100px;
}
body{
    width: 100%;
    height: auto;
} 

header{
    background-color: var(--rtc-color-1);
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
}

header>img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.menudesplegable{
    display: none;
}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: auto;
}

.mainmenu>li>a{
    color: var(--rtc-color-2);
}

.access{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.access>li>a>img{
    width: 30px;
    height: 30px;
}


#theForm{
    display: none;
}
#formulary{
    background-color: var(--rtc-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
form{
    margin:20px;
    display: none;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rtc-color-2);*/
}
form>div button{
    width: 100px;
    align-self: center;
    background-color: var(--rtc-color-1);
    font-size: medium;
    color: var(--rtc-color-3);
    margin: 10px;
}
.flecha{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--rtc-color-2);
}
#clickForm{
    width: 40px;
    position: absolute;
    background-color: var(--rtc-color-2);
    border-radius: 80%;
    margin:10px;
    margin-top: 40px;

}


#Zapatos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    padding: var(--rtc-padding-m);
}

#Zapatos>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    padding: var(--rtc-padding-xs);
    gap:10px;
    border: 2px solid;
    border-color: var(--rtc-color-1);
    border-radius: 5%;
    background-color: var(--rtc-color-2);
}

#Zapatos>div:hover{
    transform:scale(1.1);
    transition: 1;
}

#Zapatos>div img{
    width: 250px;
    height: 200px;
}

#Zapatos>div button{
    width: 50%;
    align-self: center;
    align-content: center;
    border-radius: 5%;
    border-style: solid;
    border-color: var(--rtc-color-1);
    color: var(--rtc-color-3);
    font-size: var(--rtc-font-size-xs);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    background-color: var(--rtc-color-1);
    color: var(--rtc-color-3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: var(--rtc-padding-m);
    gap: 10%;
}

.others>h4, .others>ul{
    gap: 20px;
    padding: var(--rtc-padding-xs);
}
a{
    text-decoration: none;
    color: var(--rtc-color-3);
    font-size: small;
}

@media (max-width: 600px) {
    #Zapatos{
        width: 100%;
        gap: 20px;
        padding: var(--rtc-padding-xs);
}
footer{
    width: 100%;
    padding: var(--rtc-padding-xs);
    gap: 5%;
}
}